/* update update update */

html,
body {
    margin: 0;
    font-family: 'Open Sans', sans-serif;
}

.contain {
    width: 100%;
    box-sizing: content-box;
}

nav {
    background-color: rgba(0, 0, 0, 0.8);
}

.navbar-brand {
    font-weight: bold;
    font-size: 3rem;
    font-family: 'Pacifico', cursive;
    color: #fafafa;
}

.navbar-brand:hover {
    color: #FAFAFA;
}

.first-top {
    background: url(imgs/jumbo-1-bg.jpg) no-repeat center center fixed; 
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

.nav-link {
    color: #fafafa;
}

.nav-link:hover {
    color: #606D7D;
    background-color: #fafafa;
    border-radius: 50px;
}

.home {
    box-sizing: border-box;
    text-align: center;
    color: #fafafa;
    padding: 2rem 8rem 5rem 8rem;
    background-color: rgba(0, 0, 0, 0.5);

}

h1 {
    text-transform: uppercase;
}

.home img {
    width: 1rem;
    height: 1rem;
}

.home .line-1, .home .line-2 {
    width: 5rem;
    height: 2rem;
}

.home h1 {
    margin-top: 3rem;
    margin-bottom: 1.5rem;
    font-weight: bolder;
}

.home p {
    margin-top: 3rem;
    margin-bottom: 6rem;
    padding: 0 2rem;
}

.booking {
    box-sizing: border-box;
    width: 100%;
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-around;
    background-color: white;
    padding: 2rem;
    text-transform: uppercase;
    font-weight: bolder;
    text-align: center;
}

.children input, .adult input {
    width: 2rem;
}

.search p {
    color: white;
}

.booking button {
    padding: 0.3rem 3rem 0.3rem 3rem;
    color: #FAFAFA;
    background-color: #6FBABF;
    border: none;
    border-radius: 50px;
    text-transform: uppercase;
    font-weight: bolder;
}

.second-top {
    display: flex;
    flex-flow: row-reverse wrap;
    justify-content: center;
    color: #FAFAFA;
    background-color: rgba(0, 0, 0, 0.8);
    box-sizing: border-box;
    padding: 3rem 2rem;
    /* border: 2px solid blue; */
}

.second-top div {
    width: 25rem;
}

.second-top img {
    max-width: 100%;
    height: 20rem;
}

.second-top-right {
    margin-top: 3rem;}

.second-top-left {
    box-sizing: border-box;
    padding-left: 2rem;
    padding-right: 2rem;
    margin-top: 3rem;
    display: flex;
    flex-flow: column wrap;
    justify-content: center;
    font-weight: bolder;
}

.second-top-left h2 {
    text-transform: capitalize;
    font-weight: bolder;
}

.bottom {
    text-align: center;
    text-transform: uppercase;
    font-weight: bolder;
}

.bottom-first {
    margin-top: 5rem;
}

.bottom .bottom-first p {
    text-transform: none;
}

.bottom-images {
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
}

.bottom img {
    width: 20rem;
    height: 20rem;
    border: 8px solid white;
}

.bottom-button {
    margin-top: 2rem;
    margin-bottom: 5rem;
}

.bottom-button button {
    text-transform: uppercase;
    font-weight: bolder;
    padding: 1.5rem;
    border-radius: 50px;
    color: #FAFAFA;
    background-color: #6FBABF;
    border: none;
}

.footer {
    display: flex;
    flex-flow: row nowrap;
    box-sizing: border-box;
    justify-content: space-between;
    padding: 1.5rem 5rem;
    color: #FAFAFA;
    background-color: rgba(0, 0, 0, 0.8);
    border-top: 2px solid #FFD5A5;
}

.footer li {
    display: inline-block;
    list-style-type: none;
    margin-right: 2rem;
}

@media (max-width: 575px) {
    .nav-item {
        padding: 0 !important;
        width: 100%;
    }

    .nav-link {
        text-align: center;
    }

    .nav-link:hover {
        color: rgba(0, 0, 0, 0.8) !important;
        background-color: #FAFAFA;
        border-radius: 50px;
    }

    .booking {
        box-sizing: border-box;
        width: 100%;
        display: flex;
        flex-flow: column nowrap;
        justify-content: space-around;
        background-color: white;
        padding: 2rem;
        text-transform: uppercase;
        font-weight: bolder;
        text-align: center;
    }

    .booking div {
        margin-top: 1rem;
    }

    .children input, .adult input, .departure input, .arrival input {
        width: 11.5rem;
    }

    .booking button {
        padding: 1rem 3rem 1rem 3rem;
        color: #FAFAFA;
        background-color: #6FBABF;
        border: none;
        border-radius: 50px;
        text-transform: uppercase;
        font-weight: bolder;
    }
}












































































/* html, 
body {
    margin: 0;
    box-sizing: border-box;
}

.container-fluid {
    margin: auto;
}

.jumbo-1 {
    margin-bottom: 0;
    position: relative;
    background: url(imgs/jumbo-1-bg.jpg) no-repeat center center fixed; 
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    background-color: black;
    height: 30rem;
}

nav {
    border: 2px solid red;
}

nav ul {
    list-style-type: none;
}

li {
    display: inline-block;
}

.booking {
    position: absolute;
    bottom: 150px;
    left: 25vw;
    z-index: 2;
    background-color: aquamarine;
    border: 2px solid black;
}

table {
    border: 2px solid red;;
}

table input:not([class="arrival"]):not([class="departure"]) {
    width: 5rem;
}

thead th {
    border: 2px solid blue;
}

th {
    text-align: left;
}

.jumbo-2 {
    margin-top: -5;
    position: relative;
    display: flex;
    flex-flow: row wrap;
    box-sizing: content-box;
    justify-content: center;
}

.jumbo-2-left {
    width: 30%;
    box-sizing: border-box;
    margin-right: 10px;
    border: 2px solid green;
}

.jumbo-2-left img {
    max-width: 100%;
    height: 20rem;
}

.jumbo-2-right {
    width: 30%;
    box-sizing: border-box;
    padding: 3rem;
    border: 2px solid maroon;
}

.rs {
    border: 2px solid blue;
}

.rs-imgs {
    border: spx solid orange;
} */