/* update update update */

html,
body {
    margin: 0;
    font-family: 'Open Sans', sans-serif;
}

.contain {
    width: 100%;
    box-sizing: content-box;
}

.navbar-brand {
    font-weight: bold;
    font-size: 3rem;
    font-family: 'Pacifico', cursive;
    color: #fafafa;
}

.navbar-brand:hover {
    color: #FAFAFA;
}

.first-top {
    background: url(imgs/jumbo-1-bg.jpg) no-repeat center center fixed; 
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

.enclose {
    background-color: rgba(0, 0, 0, 0.5);
}

.nav-link {
    color: #fafafa;
}

.nav-link:hover {
    color: #606D7D;
    background-color: #fafafa;
    border-radius: 50px;
}

.home {
    box-sizing: border-box;
    text-align: center;
    color: #fafafa;
    padding: 2rem 8rem 5rem 8rem;
}

h1 {
    text-transform: uppercase;
}

.home img {
    width: 1rem;
    height: 1rem;
}

.home .line-1, .home .line-2 {
    width: 5rem;
    height: 2rem;
}

.home h1 {
    margin-top: 3rem;
    margin-bottom: 1.5rem;
    font-weight: bolder;
}

.home p {
    margin-top: 3rem;
    margin-bottom: 6rem;
    padding: 0 2rem;
}

.booking {
    box-sizing: border-box;
    width: 100%;
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-around;
    background-color: white;
    padding: 2rem;
    text-transform: uppercase;
    font-weight: bolder;
    text-align: center;
}

.children input, .adult input {
    width: 2rem;
}

.search p {
    color: white;
}

button {
    padding: 0.3rem 3rem 0.3rem 3rem;
    color: #FAFAFA;
    background-color: #DB8937;
    border: none;
}

.second-top {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-around;
    color: black;
    background-color: #F9F9F9;
    box-sizing: border-box;
    padding: 3rem 2rem;
    border: 2px solid blue;
}

.second-top img {
    max-width: 100%;
    height: 20rem;
}

.second-top-left {
    flex-basis: 40%;
    margin-right: 5px;
    border: 2px solid red;
}

.second-top-right {
    /* padding: 3rem; */
    flex-basis: 40%;
    border: 2px solid blue;
}

















































































/* html, 
body {
    margin: 0;
    box-sizing: border-box;
}

.container-fluid {
    margin: auto;
}

.jumbo-1 {
    margin-bottom: 0;
    position: relative;
    background: url(imgs/jumbo-1-bg.jpg) no-repeat center center fixed; 
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    background-color: black;
    height: 30rem;
}

nav {
    border: 2px solid red;
}

nav ul {
    list-style-type: none;
}

li {
    display: inline-block;
}

.booking {
    position: absolute;
    bottom: 150px;
    left: 25vw;
    z-index: 2;
    background-color: aquamarine;
    border: 2px solid black;
}

table {
    border: 2px solid red;;
}

table input:not([class="arrival"]):not([class="departure"]) {
    width: 5rem;
}

thead th {
    border: 2px solid blue;
}

th {
    text-align: left;
}

.jumbo-2 {
    margin-top: -5;
    position: relative;
    display: flex;
    flex-flow: row wrap;
    box-sizing: content-box;
    justify-content: center;
}

.jumbo-2-left {
    width: 30%;
    box-sizing: border-box;
    margin-right: 10px;
    border: 2px solid green;
}

.jumbo-2-left img {
    max-width: 100%;
    height: 20rem;
}

.jumbo-2-right {
    width: 30%;
    box-sizing: border-box;
    padding: 3rem;
    border: 2px solid maroon;
}

.rs {
    border: 2px solid blue;
}

.rs-imgs {
    border: spx solid orange;
} */